@model IndexViewModel
@{
	ViewBag.Title = "Genome List";
}
<div class="row">
	<div class="col-md-4">
		<table class="table-bordered table-responsive">
			<thead>
				<tr>
					<th>Genome</th>
					<th>Test</th>
				</tr>
			</thead>
			<tbody>
				@{
					foreach (KeyValuePair<Guid, string> genome in Model.Genomes)
					{
						<tr>
							<td><p>@(genome.Value)</p></td>
							<td><p><a href="/Genome/index/@(genome.Key)">Edit</a></p></td>
						</tr>
					}
				}
			</tbody>
			<tfoot>
				<tr><td><a href="/Genome/Add">Add</a></td></tr>
			</tfoot>
		</table>
	</div>
</div>